/* .headerAboutus{

    
    margin-top: 100px;
      justify-content: center;
    display: flex;
    color: white;
} */
#image{

  height: 100px;
  width: 150px;
}

#cardtitle{
  display: flex;
  

  
  
}
