div.container{
       display: flex;
       justify-content: center;  
       margin-right: 100%;  
}

textarea{

       background-color: rgba(255, 255, 255, 0.116);
       width: 500px;
      
       border-radius: 4px;
       text-decoration: none;
       /* box-shadow: none; */
}
.btn-outline-secondary{

       
       background: white;
       color: rgb(5, 5, 5);
       border: none;
       margin-right: 0%;
       margin-left: 50%;
       margin-top: 3px;
       margin-bottom: 30px;
    
      
      
    
      


}
#form{
       color:white;

      
}

input[type=text]{

       /* position: relative; */
       justify-content: space-between;

       margin-bottom: 9px;
       

       background-color: rgba(255, 255, 255, 0.116);
       
       border-radius: 4px;
       width: 500px;
       height: 40px;
       color: white;
       
      
     
}

::placeholder{

       color: white;
       
       
}
#dis{

       display: flex;
       justify-content: center;
       color: white;

}





